.scenicBody {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
 
}
.buttonContainer{
    text-align: center
}

.returnButton{
    text-decoration: underline;
    cursor: pointer;
    color:black;
}
