.sider {
  height: 100vh;
}

.logo {
  background: rgb(255, 255, 255);
  margin-bottom: 15px;
  overflow: hidden;
  padding: 8px 0 7px;

  .collapsed {
    margin:0 auto;
    width: 40px;
    height: 40px;
    background: #4CC129;
    border-radius: 9px;
  }

  .spread {
    margin-left:25px;
    float:left;
    width: 40px;
    height: 40px;
    background: #4CC129;
    border-radius: 9px;
  }

  .wordCollapsed{
    display: none;
  }
  
  .wordSpread{
    width: 97px;
    height: 24px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0,0,0,0.8500);
    line-height: 40px;
    margin-left:10px;
  }

  .logoInside{
    width: 23px;
    height: 21px;
    background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge9e0cf3748e9830530fd68960e8aa3e7013e6bc618a6ef58c04f51d3cb16e5fd)
      100% no-repeat;
    margin-left: 8px;
  }
}
