.imageBody{
    width: 100px;
    height: 70px;
    float: left;
    margin:16px;
    .imageName{
        line-height: 20px;
        text-align: center;
    }
    .imageImg{
        width: 100px;
        height: 50px;
        border: 2px solid grey;
    }
}