.imageBody{
    width: 100%;
    height: 70px;
    margin:16px 0;
    
    .imageName{
        line-height: 20px;
        text-align: center;
    }
    .imageImg{
        width: 100%;
        height: 60px;
        border: 2px solid grey;
    }
}