.adminBody {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    .adminHeader {
    width: 100%;
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    background-color: aqua;
    }



    .adminContent {
        width: 100%;
        height: calc(100% - 50px);
        top: 50px;
        left: 0;
        position: absolute;
    }
}

